body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(101, 90, 135) 0%, rgba(254, 238, 127) 35%, rgba(223, 209, 46) 100%);
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    position: relative;
}
